<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>ファイルの拡張子変換</title>
    </head>
    <body>
        <h2 style="text-align:center">画像ファイルの拡張子変換</h2>
        <p>
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <p style="text-align:center">
                    <label for="file">変換したい画像ファイル：</label>
                    <input type="file" name="file">
                </p>
                <p style="text-align:center">
                    <label for = 'text'>変換後の画像ファイルの名前：</label>
                    <input type="text" name="text">
                </p>
                <p style="text-align:center">
                    変換後の拡張子：
                    <select name='ext'>
                        <option value='None'>--</option>
                        <option value='pdf'>pdf</option>
                        <option value='png'>png</option>
                        <option value='jpg'>jpg</option>
                    </select>
                </p>
                <p style="text-align:center"><button type="submit">変換</button>
            </form>
        </p>
        <h2 style="text-align:center">変換したファイル一覧</h2>
        <table style="margin: 0 auto; border-collapse: collapse; width: 40%; text-align: center;">
            {% for file in csv_files %}
            
                <tr>
                    <td>{{ file }}</td>
                    <td><a href="/download/{{ file }}">保存</a></td>
                    <td><a href="/delete/{{ file }}">削除</a></td>
                </tr>
            {% else %}
                <tr>
                    <td>データがありません</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
