<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>ファイルの拡張子変換</title>
    </head>
    <body>
        <h2 style="text-align:center">画像ファイルの拡張子変換</h2>
        <p>
            {% if message %}
                <p style="text-align:center">未入力の要素があります</p>
            {% endif %}
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <p style="text-align:center">
                    <label for="file">変換したい画像ファイル(複数選択可)：</label>
                    <input type="file" name="file" multiple="multiple">
                </p>
                <p style="text-align:center">
                    <label for = 'text'>変換後の画像ファイルの名前：</label>
                    <input type="text" name="text">
                </p>
                <p style="text-align:center">
                    変換後の拡張子：
                    <select name='ext'>
                        <option value='None'>--</option>
                        <option value='pdf'>pdf</option>
                    </select>
                </p>
                <p style="text-align:center"><input type="checkbox" name="is_shared" value="True">共有する
                <p style="text-align:center"><button type="submit">変換</button>
            </form>
            <p style="text-align:center"><a href="/share">共有したファイル</a>

        </p>
        </body>
</html>
